body {
    background: linear-gradient(to bottom right, #003366, #000a1a, #001a33);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff; /* Mantendo a cor branca */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
}

.form-container h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #001a33; /* Azul escuro */
    color: #fff; /* Texto branco */
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000a1a; /* Azul mais escuro ao passar o mouse */
}
