<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
     <link rel="stylesheet" type="text/css" href="../static/menu.css">
    <link rel="stylesheet" type="text/css" href="../static/pagina.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="Div-menu-container">
        <div class="Div-menu-logo">
            <img src="{{ url_for('static', filename='logo.png') }}">
        </div>
        <div class="Div-menu">
            <div class="Div-menu-button">
                <button class="Menu-button">
                    <a href="/paginainicial">Home</a>
                </button>
            </div>
            <div class="Div-menu-button">
                <button class="Menu-button">
                    <a href="/pais">País</a>
                </button>
            </div>
            <div class="Div-menu-button">
                <button class="Menu-button">
                    <a href="/estado">Estado</a>
                </button>
            </div>
            <div class="Div-menu-button">
                <button class="Menu-button">
                    <a href="/correlacao">Correlacione</a>
                </button>
            </div>
            <div class="Div-menu-button">
                <button class="Menu-button">
                    <a href="/prevencao">Prevenção</a>
                </button>
            </div>
        </div>
    </div>

    <div class="content-container">
    <div>
        <h1>Suicídio e Fatores Socioecônomicos</h1>
        <p>
                 Os dados sobre taxas de suicídio por continente revelam uma grande
                disparidade entre as regiões, destacando a complexidade do problema.
                Fatores como instabilidade econômica, conflitos armados e acesso limitado à
                saúde mental contribuem para essas diferenças. A divulgação desses dados é
                crucial para aumentar a conscientização e direcionar recursos para programas
                de prevenção adaptados às necessidades de cada região.
        </p>
    </div>
    <div class="image-container">
        {{fig|safe}}
    </div>
    </div>
</body>
</html>
